

<div class="container">
<div class ="row">

<% @amazon_books.each do |book| %>

  
  <div class ="col-md-12">
  <div class="card">
  <%= link_to book['associate_link'] do %>
  <%= image_tag book['image_url'], class: "img-fluid card-img-top", alt: "Example image" %>
  <div class="card-body">
  <h5><%= book['title'] %></h5>
  <% end %>



    <p>発売日: <%= book['date'] %></p>

    <!-- <p class="card-text" style="color: gray;">紹介されている記事</p> -->
    <span class="card-text">紹介されている記事</span>
    
    <% @book_results[book["title"]].each do |blog| %>
        <li style="list-style: none;">
          <%= link_to blog["link"] do %>
            <%= blog["title"] %>
          <% end %>
        </li>
      <% end %>

  </div>
  </div>
  </div>
<% end %>

</div>
</div>